<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS" version="9.6.1" targetFramework="net45" />
  <package id="EPiServer.CMS.Core" version="9.6.1" targetFramework="net45" />
  <package id="EPiServer.CMS.UI" version="9.3.8" targetFramework="net45" />
  <package id="EPiServer.CMS.UI.Core" version="9.3.8" targetFramework="net45" />
  <package id="EPiServer.Framework" version="9.6.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>